<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Table</title>
    <style>


	table.dataTable{
	width: auto !important;
	margin: 0 auto;
	font-size: 12px;
	}

        td {
            text-align: center;
        }
	.toggle-btn {
	    border: 3px solid #008CBA;
	}
	.toggled {
	    border-color: #ccc;  

        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>
<body style="background-color:#c7a7d1">
<div>
<button id="name" class="toggle-btn" onclick="toggleColumnBtn(this, 0)">Name</button>
<button id="man" class="toggle-btn" onclick="toggleColumnBtn(this, 1)">Manufacturer</button>
<button id="cat" class="toggle-btn" onclick="toggleColumnBtn(this, 2)">Category</button>
<button id="av" class="toggle-btn" onclick="toggleColumnBtn(this, 3)">Available</button>
<button id="pack" class="toggle-btn" onclick="toggleColumnBtn(this, 4)">Packaging</button>
<button id="store" class="toggle-btn" onclick="toggleColumnBtn(this, 5)">Storage</button>
<button id="exp" class="toggle-btn" onclick="toggleColumnBtn(this, 6)">Expires</button>
<button id="bar" class="toggle-btn" onclick="toggleColumnBtn(this, 7)">Barcode</button>
</div>
<hr>

	<div><%- include('partials/tableTemplate') %></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/sb-1.6.0/datatables.min.js"></script>

    <script>
$(document).ready(function() {
    var table = $('#productTable').DataTable({
        paging: false,
	columnDefs: [{
        targets: 6,
        render: function(data, type, row) {
            if (type === 'sort') {
                if (data === 'N/A') {
                    return 'Z';
                } 
            }
            return data; // Render the original data for display
        }
    	}],
	order: [[6, 'asc']]
    });

    // Add click event listener to table rows
    $('#productTable tbody').on('click', 'tr', function() {
        // Get the data from the clicked row
        var rowData = table.row(this).data();
	var barcodeValue = rowData[7]
        // Show a confirmation dialog
	console.log('Barcode value:', barcodeValue);
        var confirmDelete = confirm('Are you sure you want to delete ' + rowData[0] + ' entry?');

        if (confirmDelete) {
            // AJAX call to delete the row
            $.ajax({
                url: '/deleteRow', // Replace with your server-side script URL
                method: 'POST',
                data: { barcode: barcodeValue }, // Assuming the barcodeof the row is in the first column (index 7)
                success: function(response) {
	 	    location.reload()
                    alert('Row deleted successfully!');
                    // Reload the DataTable to reflect the changes
                    table.ajax.reload();
                },
                error: function(xhr, status, error) {
                    alert('Error deleting row: ' + error);
                }
            });
        }
    });
});

    </script>

<script>
  function click(btn) {
  btn.classList.toggle("toggle-btn")
  }


  function toggleColumn(columnIndex) {
    var table = $('#productTable').DataTable();
    var column = table.column(columnIndex);
    column.visible(!column.visible());
  }


  function toggleColumnBtn(btn, columnIndex) {
    var table = $('#productTable').DataTable();
    var column = table.column(columnIndex);
    column.visible(!column.visible());
    btn.classList.toggle("toggled");
  }
</script>
</body>
</html>
